.div
{
    color: red;background-color: royalblue;font-weight: 100;
}
.p
{
    color: green;font-size: larger;font-style: italic;
}

#d
{
    background-color: grey;
}


img[alt="abcd"]
{
    height: 200px;
    width: 100 px; 
}